# We do not run tests in container
test

# Prevents locally installed modules to be included to the image
node_modules

# Same reason as for node_modules (actually it is weird that we build app as part of image building)
dist

# Misc
.git
.prettierrc
*.md

# Logs
logs
*.log
npm-debug.log*

# IDEs and editors
/.idea

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml





